#main-box {
    background: url('../img/from_the_hubble2.1585x450.pixelated.cellsize5.jpg') repeat scroll 0% 0% #074E68;
    height: 450px;
    text-align: left;
    position: relative;
    padding: 100px 20px 0px;
}

.over-dark-background {
    color: white;
}

.centered {
    text-align: center;
}

img {
    margin: 10px;
}

section {
    margin: 0px 0px 10px 0px;
}

#downloadScreen {
	text-align: center;
}
